.Cloths{
    background-color: brown;

}
.bg-home{
    padding-top:33px;
}
.bg-yellow{
    background-color: burlywood;
}
.bg-red{
    background-color: coral;
    
    
}
.bg-blue{
    background-color:rgb(230, 0, 255);
}
.bg-green{
    background-color: crimson;
}

.button-add{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 14px;
   
}
.Input{
    margin-bottom:12px;
}

@media (max-width:767px){
    .button-add{
        padding-right:12px;
        
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100vw;
     
        box-sizing: border-box;
    }
    .table{
        width:100vw;
    }
    Table{
        width:100vw;
    }
}